@import "tailwindcss";

@layer base {
  :root {
    --color-pink-primary: #e489b2;
    --color-pink-secondry: #831747;
    --color-white: #fff;
    --color-black: #000;
    --color-bg-dark: #161616;
    --color-gray: #d4d4d4;
    --color-gray-dark: #696969;
  }
}
@font-face {
  font-family: "Yekan";
  src: url("../src/assets/fonts/IRANYekanX-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Yekan";
}

.active{
  color: #e7a6c3;
  background-color: #7a0138;
}